//$button--m--font-size: $base-font-size; // 14
//$button--m--icon-size: 18px;
//
//$button--s--font-size: $button--m--font-size - 2; // 12
//$button--s--icon-size: 16px;
//
//$button--l--font-size: $button--m--font-size + 2; // 16
//$button--l--icon-size: 20px;
//
//$button--xl--font-size: $button--m--font-size + 6; // 20

$button--default-color: #333;
$button--border-radius: 4px;
$button--border-size: 1px;

$button--height-ratio: 2.5;
$button--horiz-padding-ratio: 0.5;
$button--min-width-ratio: 6;
$button--inside-padding-ratio: 0.2;

$button--primary--color: #fff;
$button--primary--bg-color: #2a79ff;
$button--secondary--color: #333;


@function buttonHeight($font-size) {
    // высота кнопки должна быть кратна 2
    @return roundEven($font-size * $button--height-ratio);
}

@function buttonVertPadding($button-height, $line-height) {
    // padding учитывает размер обводки
    @return round(($button-height - $line-height)/2) - 2 * $button--border-size;
}

@function buttonHorizPadding($button-height) {
    // padding учитывает размер обводки
    @return round($button-height * $button--horiz-padding-ratio) - 2 * $button--border-size;
}

@function buttonMinWidth($font-size) {
    @return round($font-size * $button--min-width-ratio);
}


@mixin buttonLink() {
    min-width: 0;
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
}

@mixin buttonDisabled() {
    pointer-events: none;
    cursor: default;
}

// ============================================================

// Default (с рамкой)
.mtr-btn {
    background-color: rgba(226, 17, 32, 0.1);
    color: #d82e03;
    border: $button--border-size solid transparent;
    border-radius: $button--border-radius;
    //line-height: $base-icon-size;

    > * {
        vertical-align: top;
    }

    span {
        height: $base-icon-size;
        line-height: $base-icon-size;
        display: inline-block;
    }

    &.mtr-btn--loading::before {
        border-color: transparent $button--default-color $button--default-color $button--default-color;
    }
}

a.mtr-btn {
    &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
    }
}


// Состояния
// ---------
// Normal
// Hover
// Focus
// Active
// Disabled
// Loading

$buttonSizes: (
    's': (
        'font-size': $base-font-size - 2,
        'icon-size': 16px,
    ),
    'm': (
        'font-size': $base-font-size,
        'icon-size': 18px
    ),
    'l': (
        'font-size': $base-font-size + 2,
        'icon-size': 20px
    ),
);

@each $sizeCode, $v in $buttonSizes {
    $tmpFontSize: map-get($v, 'font-size');
    $tmpIconSize: map-get($v, 'icon-size');

    $tmpHeight: buttonHeight($tmpFontSize);
    $tmpVertPadding: buttonVertPadding($tmpHeight, $tmpIconSize);
    $tmpHorizPadding: buttonHorizPadding($tmpHeight);
    $tmpMinWidth: buttonMinWidth($tmpFontSize);

    .mtr-btn--#{$sizeCode} {
        font-size: map-get($v, 'font-size');
        height: $tmpHeight;
        padding: $tmpVertPadding $tmpHorizPadding;
        min-width: $tmpMinWidth;
        line-height: $tmpIconSize;

        // при нажатии текст кнопки смещается вниз на 1 пх
        &:active, &.mtr-btn--active {
            padding-top: ($tmpVertPadding + 1);
            padding-bottom: ($tmpVertPadding - 1);
        }

        // расстояние между элементами внутри кнопки
        > * ~ * {
            margin-left: round($tmpHeight * $button--inside-padding-ratio);
        }

        // любые спаны внутри кнопки
        span {
            height: $tmpIconSize;
            line-height: $tmpIconSize;
            display: inline-block;
        }

        // иконка в кнопке
        .mtr-btn__icon {
            width: $tmpIconSize;
            height: $tmpIconSize;
            display: inline-block;
        }

        &.mtr-btn--icon-only {
            width: $tmpHeight;
            min-width: $tmpHeight;
            padding-left: 0;
            padding-right: 0;
        }

        &.mtr-btn--loading::before {
            width: $tmpFontSize;
            height: $tmpFontSize;
        }
    }

    .var-dump--button-#{$sizeCode}-font-size:before {content: "#{$tmpFontSize}";}
    .var-dump--button-#{$sizeCode}-height:before {content: "#{$tmpHeight}";}
    .var-dump--button-#{$sizeCode}-horiz-padding:before {content: "#{$tmpHorizPadding + $button--border-size}";}
    .var-dump--button-#{$sizeCode}-min-width:before {content: "#{$tmpMinWidth}";}

    .var-info--button-#{$sizeCode}-horiz-padding {width: $tmpHorizPadding + $button--border-size}
    .var-info--button-#{$sizeCode}-height {height: $tmpHeight;}
}


// Extra Large
//.mtr-btn--xl {
//    @include buttonSize($button--xl--font-size);
//
//    .mtr-btn__icon {
//        width: 24px;
//        height: 24px;
//        margin-right: 8px;
//    }
//}


// Типы
// после размеров!
// ---------

// Primary (без рамки, синяя)
.mtr-btn--primary {
    color: $button--primary--color;
    // border-color: $button--primary--bg-color;
    background-color: $button--primary--bg-color;

    &:hover, &.mtr-btn--hover {
        border-color: #336eea;
        background-color: #336eea;
    }

    &:active, &.mtr-btn--active {
        border-color: #3562d5;
        background-color: #3562d5;
    }

    &.mtr-btn--loading::before {
        border-color: transparent #fff #fff #fff;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: $button--primary--color;
    }
}

a.mtr-btn--primary {
    &:hover, &:active, &:visited, &:focus {
        color: $button--primary--color;
    }
}


.mtr-btn--primary.mtr-btn--outlined {
    color: $button--primary--bg-color;
    border-color: #5594ff;
    background-color: transparent;

    &:hover, &.mtr-btn--hover {
        background-color: #f7faff;
    }

    &:active, &.mtr-btn--active {
        background-color: #f3f7ff;
    }

    &.mtr-btn--loading::before {
        border-color: transparent $button--primary--bg-color $button--primary--bg-color $button--primary--bg-color;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: $button--primary--bg-color;
    }
}

a.mtr-btn--primary.mtr-btn--outlined {
    &:hover, &:active, &:visited, &:focus {
        color: $button--primary--bg-color;
    }
}


.mtr-btn--primary.mtr-btn--link {
    @include buttonLink;
    color: $button--primary--bg-color;

    &:hover, &.mtr-btn--hover {
        color: #336eea;
    }

    &:active, &.mtr-btn--active {
        color: #3562d5;
    }

    &.mtr-btn--loading::before {
        border-color: transparent $button--primary--bg-color $button--primary--bg-color $button--primary--bg-color;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: $button--primary--bg-color;
    }
}

a.mtr-btn--primary.mtr-btn--link {
    &:visited, &:focus {
        color: $button--primary--bg-color;
    }
}


// =====================================================================
// Secondary (без рамки, серая)
// =====================================================================
.mtr-btn--secondary {
    color: $button--secondary--color;
    //border-color: #f5f5f5;
    background-color: #f5f5f7;

    &:hover, &.mtr-btn--hover {
        // border-color: #f0f0f0;
        background-color: #f0f0f3;
    }

    &:active, &.mtr-btn--active {
        // border-color: #ebebeb;
        background-color: #ebebef;
    }

    &.mtr-btn--loading::before {
        border-color: transparent #333 #333 #333;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: $button--secondary--color;
    }
}

a.mtr-btn--secondary {
    &:visited, &:focus {
        color: $button--secondary--color;
    }
}

// -------------

.mtr-btn--secondary.mtr-btn--outlined {
    color: $button--secondary--color;
    border-color: #cccccc;
    background-color: transparent;

    &:hover, &.mtr-btn--hover {
        background-color: #fafafa;
    }

    &:active, &.mtr-btn--active {
        background-color: #f5f5f5;
    }

    &.mtr-btn--loading::before {
        border-color: transparent #333 #333 #333;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: $button--secondary--color;
    }
}

a.mtr-btn--secondary.mtr-btn--outlined {
    &:visited, &:focus {
        color: $button--secondary--color;
    }
}

// -------------

.mtr-btn--secondary.mtr-btn--link {
    @include buttonLink;
    color: #999;

    &:hover, &.mtr-btn--hover {
        color: #666;
    }

    &:active, &.mtr-btn--active {
        color: #333;
    }

    &.mtr-btn--loading::before {
        border-color: transparent #999 #999 #999;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: #999;
    }
}


// =====================================================================
// Danger
// =====================================================================
.mtr-btn--danger {
    color: #ffffff;
    border-color: #d92929;
    background-color: #d92929;

    &:hover, &.mtr-btn--hover {
        border-color: #c71414;
        background-color: #c71414;
    }

    &:active, &.mtr-btn--active {
        border-color: #b80d0d;
        background-color: #b80d0d;
    }

    &.mtr-btn--loading::before {
        border-color: transparent #fff #fff #fff;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: #fff;
    }
}

.mtr-btn--danger.mtr-btn--outlined {
    color: #d92929;
    border-color: #e15454;
    background-color: transparent;

    &:hover, &.mtr-btn--hover {
        background-color: #fef7f7;
    }

    &:active, &.mtr-btn--active {
        background-color: #fdf2f2;
    }

    &.mtr-btn--loading::before {
        border-color: transparent #d92929 #d92929 #d92929;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: #d92929;
    }
}

.mtr-btn--danger.mtr-btn--link {
    @include buttonLink;
    color: #d92929;

    &:hover, &.mtr-btn--hover {
        color: #c71414;
    }

    &:active, &.mtr-btn--active {
        color: #d92929;
    }

    &.mtr-btn--loading::before {
        border-color: transparent #d92929 #d92929 #d92929;
    }

    &.mtr-btn--disabled, &[disabled] {
        color: #d92929;
    }
}

// =====================================================================
// Pay
// =====================================================================
.mtr-btn--pay { // #ffd54b, #ffbb39
    color: #404040;
    //border-color: #ffd54b;
    background: #b478fd;
    color: #fff;
}



// Loading
// идет после всех дизайнов кнопок, чтобы перебивать цвет
.mtr-btn--loading {
    opacity: 1;
    position: relative;
    color: transparent !important; // скрываем текст кнопки
    @include buttonDisabled();

    &::before {
        display: block;
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 100%;
        border: 2px solid transparent;
        width: 20px;
        height: 20px;
        animation: spinner 0.6s linear infinite;
    }
}

// Disabled
// идет после всех дизайнов кнопок, чтобы перебивать всё
.mtr-btn--disabled, .mtr-btn[disabled] {
    opacity: 0.4;
    position: static;
    @include buttonDisabled();

    &::before {
        display: none;
    }
}