.mtr-input {
    // transition: border-color 600ms;
    border-radius: $button--border-radius;
    border: $button--border-size solid #c3c2cf;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


    &:hover {
        border-color: #827f9b;
    }

    &:focus {
        // border: 1px solid #5795ff;
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
}

.mtr-input--s {
    font-size: ($base-font-size - 2);
    height: buttonHeight($base-font-size - 2);
    line-height: buttonHeight($base-font-size - 2) - 2 * $button--border-size;
}

.mtr-input--m {
    font-size: $base-font-size;
    height: buttonHeight($base-font-size);
    line-height: buttonHeight($base-font-size) - 2 * $button--border-size;
}

.mtr-input--l {
    font-size: ($base-font-size + 2);
    height: buttonHeight($base-font-size + 2);
    line-height: buttonHeight($base-font-size + 2) - 2 * $button--border-size;
}