// 0. Import fonts
// Для разработки можно подключать шрифт здесь с помощью @import
// Для продакшена нужно через <link> на самой странице
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&subset=cyrillic');
//@import url('/fonts/open-sans/font.css');

// 1. Override default variables
$theme-name: 'example';
$base-font-size: 14px;
$base-font-family: 'Open Sans', Arial, sans-serif;

// 2. Import base CSS
@import "../../base_style/0_start";

// 3. Anything else
@import "button";