//Для разработки можно подключать шрифт здесь с помощью @import
//Для продакшена нужно через link на самой странице
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&subset=cyrillic');

// 1. Override default variables
$theme-name: 'default';
$base-font-size: 16px;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// 2. Import mottor-ui
@import "../../scss/main";

// 3. Everything else
.test {
    zoom: 1;
    color: #f0f;
}