$button-height-ratio: 2.3;
$button-padding-ratio: 1.3;
$button-corders-ratio: 0.3;

$button-height: roundEven($base-font-size * $button-height-ratio);
$button-sides-padding: roundEven($base-font-size * $button-padding-ratio);
$button-radius: round($base-font-size * $button-corders-ratio);

$button-l--height: roundEven($font-size-l * $button-height-ratio);
$button-l--sides-padding: roundEven($font-size-l * $button-padding-ratio);
$button-l--border-radius: round($font-size-l * $button-corders-ratio);

@mixin buttonSize($font-size) {
    font-size: $font-size;
    height: roundEven($font-size * $button-height-ratio);
    line-height: roundEven($font-size * $button-height-ratio);
    border-radius: round($font-size * $button-corders-ratio);

    .button-text {
        padding: 0 round($font-size * $button-padding-ratio);
    }
}

.button {
    cursor: pointer;
    text-align: center;
    font-size: $base-font-size;
    height: $button-height;
    border-radius: $button-radius;
    background: #c00;
    display: inline-block;
    line-height: $button-height;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    position: relative;

    &:active {
        //line-height: $button-height + 2;
    }

    &:focus, &.button--focused {
        outline: none;
    }

    &.button--focused {
        box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #5199db;
    }
}

.button-text {
    padding: 0 $button-sides-padding;
    display: block;
    height: 100%;
    position: relative;
}

.button:active .button-text, .button--active .button-text {
    top: 1px;
    box-shadow: inset 0 2px 1px rgba(0,0,0,.1);
}

// -----------------------------

.button-s {
    @include buttonSize($font-size-s);
}

.button-l {
    @include buttonSize($font-size-l);
}

.button-xl {
    @include buttonSize($font-size-xl);
}

// -----------------------------

.button-primary {
    background: #5181b8;
    color: #fff;

    &:hover, &.button--hover {
        background: #5b88bd;
    }

    &:active, &.button--active {
        background: #4872a3;
    }
}

.button-secondary {
    background: #e5ebf1;
    color: #55677d;

    &:hover {
        background: #dfe6ed;
    }

    &:active {
        background: #dae2ea;
    }
}

// после всех дизайнов, чтобы перебивать их
.button--disabled {
    background: $color-gray;
    color: $secondary-text-color;
    cursor: default;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.button--disabled:hover,
.button--disabled:active {
    @extend .button--disabled;
}

.button--loading {
    @extend .button--disabled;
}