a {
    color: $link-color;
    text-decoration: none;
    /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
    outline: none;
    background-color: transparent;

    &:visited {
        color: $link-color;
    }

    &:focus,
    &:active,
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

/*----------------*/

h1, .header-1 {
    font-size: $header-1-font-size;
    line-height: $header-1-line-height;
    font-weight: 200;
}

.header-1-wrap {
    margin-top: -(($header-1-line-height - $header-1-font-size)/2);
}

h2, .header-2 {
    font-size: $header-2-font-size;
    line-height: $header-2-line-height;
    font-weight: 300;
}

h3, .header-3 {
    font-size: $header-3-font-size;
    line-height: $header-3-line-height;
    font-weight: 400;
}

h4, .header-4 {
    font-size: $header-4-font-size;
    line-height: $header-4-line-height;
    font-weight: 500;
}

/*----------------*/

p {
    margin: 0;
    line-height: ($paragraph-line-height * 1em);
}

p + p {
    margin-top: $paragraph-margin; // todo: fix margin
}

.text-s, .text-s p {
    font-size: $font-size-s;
    line-height: $line-height-s;
}

.text, .text-m, .text p, .text-m p {
    font-size: $font-size-m;
    line-height: $line-height-m;
}

.text-l, .text-l p {
    font-size: $font-size-l;
    line-height: $line-height-l;
}

.text-xl, .text-xl p {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
}