$ed-rightbar--width: 300px;
$ed-rightbar--header-height: 50px;

// ===============================

// панель позиционируется относительно этого элемента
// для редактирования сайта - это вся правая часть (ниже серой панельки)
.ed-rightbar__basement {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
}

.ed-rightbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $ed-rightbar--width;
    box-sizing: content-box;
    //border-left: 1px solid #ddd;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    transition: right 1s ease;
}

// ----------------------

.ed-rightbar__header {
    background: #eee;
    //height: $ed-rightbar--header-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.ed-rightbar__nav {
    height: 100%;
    display: flex;
    justify-content: center;
}

.ed-rightbar__nav-item {
    //width: 50px;
    height: 100%;
    //float: left;
    position: relative;
    //cursor: pointer;
}

.ed-rightbar__nav-item--active {
    &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: #0af;
    }
}

// ----------------------

.ed-rightbar__close {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
}

// ----------------------

.ed-rightbar__body {
    background: #fff;
    position: absolute;
    top: $ed-rightbar--header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.ed-rightbar__tabs-content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: left;
    //transition: left 0.1s ease;
}

.ed-rightbar__tab-content {
    width: $ed-rightbar--width;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.ed-rightbar__tab-content-head {
    padding: 0 10px 0 20px;
    color: #aaa;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    box-sizing: content-box;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ed-rightbar__tab-content-body {
    //padding: 0 20px 20px;
    position: absolute;
    top:41px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}