$ed-toolbar--height: $svg-button--height;
$ed-toolbar--full-border-radius: ($ed-toolbar--height/2);

$ed-toolbar-delimiter--vert-padding: 10px;
$ed-toolbar-delimiter--horiz-padding: 5px;
$ed-toolbar--default-border-radius: 5px;
$ed-toolbar-stick-indent: 6px;

$ed-toolbar--white-outline: rgba(255, 255, 255, .2);

// ------------------------------
.ed-toolbar__basement {
    // этот элемент нужно положить в самый низ сайта - после всего контента
    z-index: 1000;
    width: 100%;
    height: 0;
}

.ed-toolbar__marker {
    // этот элемент лежит внутри .ed-toolbar-basement и позиционируется относительно него
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;

    // для позиционирования панели надо задать
    // - top, left
    // - width = такой же как ширина блока
}

// контейнер вбирает в себя несколкьо панелек
.ed-toolbar__container {
    position: absolute;
    display: flex;
    transform: translate(-50%, 0);
    left: 50%;
    top: -1px;
}

.ed-toolbar__container--place-fixed-top-left {
    top: 3 * $step;
    left: 3 * $step;
    transform: none;
}

.ed-toolbar__container--place-from-left {
    transform: translate(0, 0);
    left: 0;
}

.ed-toolbar__container--place-from-right {
    left: 100%;
    transform: translate(-100%, 0);
}

.ed-toolbar__container--place-above {
    top: (-1 * $ed-toolbar--height);
}

.ed-toolbar__container--place-down {
    top: 0;
}

.ed-toolbar {
    //line-height: $hotdog-height; padding: 0 16px;
    height: $ed-toolbar--height;
    border-radius: $ed-toolbar--default-border-radius;
    box-shadow: 0 0 0 1px $ed-toolbar--white-outline, // белая обводка на случай если темный фон
    0 3px 5px 0 rgba(0, 0, 0, 0.4); // темная тень от панельки
    background: #0af;
    padding: 0 $ed-toolbar--side-padding;
    //margin: 0 4px;
    //float: left;
    display: flex;
}

.ed-toolbar--full-rounded {
    border-radius: $ed-toolbar--full-border-radius;
}

.ed-toolbar--stick-from-left {
    position: absolute;
    left: (-1 * $ed-toolbar-stick-indent);
    transform: translate(-100%, 0);
}

.ed-toolbar--stick-from-right {
    position: absolute;
    left: calc(100% + #{$ed-toolbar-stick-indent});
}

.ed-toolbar__item {
    float: left;
    box-sizing: content-box;
    position: relative;
}

//.ed-toolbar__item:first-child, .ed-toolbar__item--first {
//    border-top-left-radius: $ed-toolbar--full-border-radius;
//    border-bottom-left-radius: $ed-toolbar--full-border-radius;
//    padding-left: $ed-toolbar--side-padding;
//}
//
//.ed-toolbar__item:last-child, .ed-toolbar__item--last {
//    border-top-right-radius: $ed-toolbar--full-border-radius;
//    border-bottom-right-radius: $ed-toolbar--full-border-radius;
//    padding-right: $ed-toolbar--side-padding;
//}

.ed-toolbar__item--text {
    line-height: $ed-toolbar--height;
    padding: 0 12px;
}

.ed-toolbar__item-delimiter {
    float: left;
    height: 100%;
    padding-right: $ed-toolbar-delimiter--horiz-padding;
    padding-left: $ed-toolbar-delimiter--horiz-padding;

    &:after {
        content: '';
        display: block;
        background: #0af;
        width: 1px;
        height: 100%;
    }
}

.ed-toolbar__item-delimiter--v1 {
    .ed-toolbar__item-delimiter {
        padding-top: $ed-toolbar-delimiter--vert-padding;
        padding-bottom: $ed-toolbar-delimiter--vert-padding;
    }
}

.ed-toolbar__item-delimiter--v2 {
    .ed-toolbar__item-delimiter {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// =============================

.ed-toolbar--minimizable {
    transition: width .4s ease;
}

// этот класс используется для сворачивания панели
.ed-toolbar__items-wrap {
    overflow: hidden;
    //width: 100%;
}

.ed-toolbar--minimized {
    // делаем тулбар шириной с одну кнопку, учитывая паддинги тулбара
    width: $svg-button--width + (2 * $ed-toolbar--side-padding) !important;
}

// =============================

.debug {
    .ed-toolbar__marker {
        background: rgba(255, 0, 255, 0.8);
        height: 1px;
    }
}

.theme--dark {
    .ed-toolbar {
        color: $dark-flow-panel--color-primary;
        background: $dark-flow-panel--bg;
    }

    .hotdog-panel__item--text {
        color: $dark-flow-panel--color-primary;
    }

    .ed-toolbar__item-delimiter:after {
        background: $dark-flow-panel--delimiter-color;
    }

    //.hotdog-panel__item {
    //    border-left: 1px solid rgba(255,255,255,.15);
    //}
    //
    //.hotdog-panel__item:first-child {
    //    border-left: none;
    //}
}

.theme--light {
    .hotdog-panel {
        background: #fff;
    }

    .hotdog-panel__item--text {
        color: #333;
    }

    .hotdog-panel__item-delimiter:after {
        background: rgba(0, 0, 0, .3);
    }

    .ed-toolbar {
        color: #222;
        background: #fff;
    }

    .ed-toolbar__item--text {
        color: #222;
    }
}