$ed-toolbar-popover--border-radius: 8px;
$ed-toolbar-popover--padding: 16px;
$ed-toolbar-popover--indent: 10px;

$ed-toolbar-popover--angle-size: 8px;
$ed-toolbar-popover--angle-stroke-size: 1px;

.ed-toolbar-popover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: $ed-toolbar-popover--border-radius;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    display: none;

    &:before {
        content: '';
        display: block;
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;

        width: 0;
        height: 0;
        border-left: $ed-toolbar-popover--angle-stroke-size solid transparent;
        border-right: $ed-toolbar-popover--angle-stroke-size solid transparent;
        border-top: 0;
        border-bottom: $ed-toolbar-popover--angle-stroke-size solid $ed-toolbar--white-outline;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;

        width: 0;
        height: 0;
        border-left: $ed-toolbar-popover--angle-size solid transparent;
        border-right: $ed-toolbar-popover--angle-size solid transparent;
        border-top: 0;
        border-bottom: $ed-toolbar-popover--angle-size solid #f0f;
    }
}

// ------------------
.ed-toolbar-popover--basic {
    padding: $ed-toolbar-popover--padding;
}

.ed-toolbar-popover--menu {}
.ed-toolbar-popover-menu-item {
    cursor: pointer;

    span {
        // используется span чтобы для первого и последнего элементов задавать паддинги
        padding: 0 20px;
        height: 34px;
        line-height: 34px;
    }

    &:hover {
        color: $svg-button--hover-color;
    }
}

.ed-toolbar-popover-menu-item:first-child, .ed-toolbar-popover-menu-item--first {
    padding-top: 5px;
}

.ed-toolbar-popover-menu-item:last-child, .ed-toolbar-popover-menu-item--last {
    padding-bottom: 5px;
}

.ed-toolbar-popover-menu-item--disabled {
    cursor: default;
    pointer-events: none;
}

// ------------------------------
// для первой и последней кнопки тулбара добавляются паддинги
// из-за этого у них поповер будет смещен
.ed-toolbar__item:first-child .ed-toolbar-popover, .ed-toolbar__item--first .ed-toolbar-popover {
    left: calc(50% + #{$ed-toolbar--side-padding/2});
}
.ed-toolbar__item:last-child .ed-toolbar-popover, .ed-toolbar__item--last .ed-toolbar-popover {
    left: calc(50% - #{$ed-toolbar--side-padding/2});
}
// ------------------------------

.ed-toolbar__item--is-opened .ed-toolbar-popover {
    display: block;
}

.ed-toolbar__item--is-disabled  {
    cursor: default;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.ed-toolbar-popover--drop-up .ed-toolbar-popover {
    bottom: calc(100% + #{$ed-toolbar-popover--indent});
    &:before {
        bottom: (-1 * $ed-toolbar-popover--angle-stroke-size);
        border-bottom: 0;
        border-top: $ed-toolbar-popover--angle-stroke-size solid $ed-toolbar--white-outline;
    }

    &:after {
        bottom: (-1 * $ed-toolbar-popover--angle-size);
        border-bottom: 0;
        border-top: $ed-toolbar-popover--angle-size solid #f0f;
    }
}

.ed-toolbar-popover--drop-down .ed-toolbar-popover {
    top: calc(100% + #{$ed-toolbar-popover--indent});
    &:before {
        top: (-1 * $ed-toolbar-popover--angle-stroke-size);
        border-bottom: $ed-toolbar-popover--angle-stroke-size solid $ed-toolbar--white-outline;
    }

    &:after {
        top: (-1 * $ed-toolbar-popover--angle-size);
        border-bottom: $ed-toolbar-popover--angle-size solid #f0f;
    }
}




.theme--dark {
    .ed-toolbar-popover {
        background: $dark-flow-panel--bg;

        //&:before {
        //    @include angleUp(9px, 9px, $dark-hotdog--delimiter-color);
        //}
        //&:after {
        //    @include angleUp(8px, 8px, $dark-flow-panel--bg);
        //}
    }

    .ed-toolbar-popover--drop-up .ed-toolbar-popover {
        &:after {
            bottom: (-1 * $ed-toolbar-popover--angle-size);
            border-bottom: 0;
            border-top: $ed-toolbar-popover--angle-size solid $dark-flow-panel--bg;
        }
    }

    .ed-toolbar-popover--drop-down .ed-toolbar-popover {
        &:after {
            top: (-1 * $ed-toolbar-popover--angle-size);
            border-bottom: $ed-toolbar-popover--angle-size solid $dark-flow-panel--bg;
        }
    }

    .ed-toolbar-popover-menu-item--disabled, .ed-toolbar-popover-menu-item--disabled:hover {
        color: #aaa;
    }
}

.theme--light {
    .ed-toolbar-popover {
        background: #fff;
    }

    .ed-toolbar-popover--drop-up .ed-toolbar-popover {
        &:after {
            bottom: (-1 * $ed-toolbar-popover--angle-size);
            border-bottom: 0;
            border-top: $ed-toolbar-popover--angle-size solid #fff;
        }
    }

    .ed-toolbar-popover--drop-down .ed-toolbar-popover {
        &:after {
            top: (-1 * $ed-toolbar-popover--angle-size);
            border-bottom: $ed-toolbar-popover--angle-size solid #fff;
        }
    }

    .ed-toolbar-popover-menu-item--disabled, .ed-toolbar-popover-menu-item--disabled:hover {
        color: #888;
    }
}