$button-height-ratio: 2.5;
$button-padding-ratio: 1.3;
$button-corners-ratio: 0.3;

$button-height: roundEven($base-font-size * $button-height-ratio);
$button-sides-padding: roundEven($base-font-size * $button-padding-ratio);
$button-radius: round($base-font-size * $button-corners-ratio);

$button-l--height: roundEven($text-l--size * $button-height-ratio);
$button-l--sides-padding: roundEven($text-l--size * $button-padding-ratio);
$button-l--border-radius: round($text-l--size * $button-corners-ratio);

//@mixin buttonSize($font-size) {
//    font-size: $font-size;
//    // height: roundEven($font-size * $button-height-ratio);
//    // line-height: roundEven($font-size * $button-height-ratio);
//    line-height: 1;
//    border-radius: round($font-size * $button-corners-ratio);
//    padding: 7px round($font-size * $button-padding-ratio) 8px;
//
//    //.button-text {
//    //    padding: 0 round($font-size * $button-padding-ratio);
//    //}
//
//    &:active, .button--active {
//        line-height: roundEven($font-size * $button-height-ratio) + 2px;
//    }
//}

.mtr-btn {
    cursor: pointer;
    text-align: center;
    //font-size: $base-font-size;
    //height: $button-height;
    //line-height: $button-height;
    //border-radius: $button-radius;
    //background: #c00;
    display: inline-block;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: none;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    zoom: 1;

    //border: 1px solid transparent;
    //@include buttonSize($base-font-size);

    &:active {
        //line-height: $button-height + 2;
    }

    &:focus {
        outline: none;
    }

    &.button--focused {
        box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #5199db;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

//.button-text {
//    padding: 0 $button-sides-padding;
//    display: block;
//    height: 100%;
//    position: relative;
//}

//.button:active .button-text,
//.button--active .button-text {
    //top: 1px;
    // box-shadow: inset 0 2px 1px rgba(0,0,0,.1);
//}

// -----------------------------
// Размеры

//.button-s {
//    @include buttonSize($font-size-s);
//}
//
//.button-l {
//    @include buttonSize($font-size-l);
//}
//
//.button-xl {
//    @include buttonSize($font-size-xl);
//}

// -----------------------------
// Типы

//.button-primary {
//    background: #5181b8;
//    color: #fff;
//
//    &:hover, &.button--hover {
//        background: #5b88bd;
//    }
//
//    &:active, &.button--active {
//        background: #4872a3;
//    }
//}

//.button-secondary {
//    background: #e5ebf1;
//    color: #55677d;
//
//    &:hover {
//        background: #dfe6ed;
//    }
//
//    &:active {
//        background: #dae2ea;
//    }
//}

// =========================
// Неактивная
// идет после всех дизайнов, чтобы перебивать их
//.button--disabled {
//    background: $color-gray;
//    color: $secondary-text-color;
//    cursor: default;
//    pointer-events: none;
//    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
//}
//
//.button--disabled:hover,
//.button--disabled:active {
//    @extend .button--disabled;
//}

// Загрузка
// Наследует disabled + имеет доп. стили
//.button--loading {
//    @extend .button--disabled;
//}