// @if($env == 'dev') {
.var-dump:before {
    display: inline-block;
}

.var-dump--step:before { content: '#{$step}'; }

.var-dump--text-s-size:before { content: '#{$text-s--size}'; }
.var-dump--text-s-line-height:before { content: '#{$text-s--line-height}'; }

.var-dump--text-m-size:before { content: '#{$text-m--size}'; }
.var-dump--text-m-line-height:before { content: '#{$text-m--line-height}'; }

.var-dump--text-l-size:before { content: '#{$text-l--size}'; }
.var-dump--text-l-line-height:before { content: '#{$text-l--line-height}'; }

.var-dump--p-line-height:before { content: '#{$base-paragraph--line-height}'; }
.var-dump--p-margin:before { content: '#{$base-paragraph--margin}'; }

.var-dump--base-font-family:before {
    display: inline-block;
    content: '#{$base-font-family}';
}

.var-dump--base-font-size:before {
    display: inline-block;
    content: '#{$base-font-size}';
}

.var-dump--theme-name:before {
    display: inline-block;
    content: '#{$theme-name}';
}
// }