html {
    cursor: default;
    box-sizing: border-box;
    user-select: none;
    letter-spacing: 0;
    -webkit-print-color-adjust: exact;

    // этот стиль взят из РТБ (но нам не подходит, пока админка не адаптивна под мобильные)
    //-webkit-touch-callout: none;
    //-ms-content-zooming: none;
    //-ms-touch-action: pan-x pan-y;
}

html.hide-body-overflow, html.hide-body-overflow body {
    overflow: hidden;
}

:focus {
    outline: none;
}

// это очень спорная настройка
// она в debug-панели захламляет дерево наследования
// но так мы сразу для всех элементов стандартизируем box-sizing (может когда-нибудь выпилим)
* {
    box-sizing: border-box;
}

head * {
    // скрывать все что в head
    display: none;
}

body {
    background-color: $body-bg-color;
    color: $primary-text-color;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: $base-font-family, $default-font-family; // удалил отсюда $emoji-font-family, т.к. получался странный отступ между словами
    font-weight: normal;
    font-style: normal;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: 0;
    margin: 0;

    // этот стиль взят из РТБ (но нам не подходит, пока админка не адаптивна под мобильные)
    // touch-action: none;
}

[contenteditable], input, textarea {
    user-select: text;
    outline: none;
}

.allow-user-select {
    cursor: default;
    user-select: text;

    // этот стиль взят из РТБ (но нам не подходит, пока админка не адаптивна под мобильные)
    // -webkit-touch-callout: default;
}

#nocss {
    display: none;
}

#nojs {
    display: block;
    margin: 75px auto;
    text-align: center;
    max-width: 600px;
}