/**

Links
=====
https://github.com/necolas/normalize.css/blob/master/normalize.css
https://github.com/sass/libsass.com/blob/master/sass/_normalize.scss
https://github.com/sindresorhus/modern-normalize/blob/master/modern-normalize.css
https://gist.github.com/DavidWells/18e73022e723037a50d6

https://csswizardry.com/2012/06/single-direction-margin-declarations/
*/

//:root {
//    // CSS property is used to customize the width of a tab (U+0009) character.
//    -moz-tab-size: 4;
//    tab-size: 4;
//}

html {
    // Prevent adjustments of font size after orientation changes in IE and iOS.
    text-size-adjust: 100%;
    tab-size: 4;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

b, strong, .bold {
    font-weight: bold;
}

i, em, .italic {
    font-style: italic;
}

.strike {
    text-decoration: line-through;
}

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border-style: none; // Remove the border on images inside links in IE 10-.
}

svg:not(:root) {
    overflow: hidden; // Correct overflow not hidden in IE 9/10/11.
}

hr {
    height: 1px;
    border: 0;
    background: #ddd;
    box-sizing: content-box; /* Add the correct box sizing in Firefox */
    overflow: visible; /* Show the overflow in Edge and IE. */
    padding: 0;
    margin: $step 0;
}

pre {
    margin: 0;
    overflow: auto; // Contain overflow in all browsers.
}

code,
pre {
    font-family: $base-monospaced-font-family;
    font-size: 85%;
    background: #eee;
    color: #c00;
    padding: 2px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit; // Correct color not being inherited
    font: inherit; // Correct font properties not being inherited
    margin: 0; // Remove the margin in Firefox and Safari
    //padding: 0;
    box-sizing: border-box;
}

button, input {
    overflow: visible; // Show the overflow in IE
}

button,
select {
    text-transform: none; // Remove the inheritance of text transform in Edge, Firefox, and IE.
}

button,
[type="button"],
[type="reset"],
[type="submit"],
::-webkit-file-upload-button {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    font: inherit;
}

/**
 * Re-set default cursor for disabled elements.
 */
[disabled],
.disabled {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    height: auto;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    overflow: auto; // Remove default vertical scrollbar in IE 8/9/10/11.
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;
    vertical-align: top; // по умолчанию выравниваем по верху
    //border-color: transparent;
    //line-height: inherit;
}

td, th {
    padding: 0;
}

tbody, tr, th, td {
    vertical-align: inherit;
}

th {
    text-align: left;
}

/* Avoid 300ms click delay on touch devices that support the `touch-action` CSS property. */
a,
button,
input,
label,
select,
textarea {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
    touch-action: manipulation;
}

[hidden], .hidden {
    display: none;
}

//ul, ol {
//    padding: 0;
//    margin: 0;
//}

ul {
    list-style-type: disc;
}