a {
    color: $link-color;
    text-decoration: none;
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.§
    cursor: pointer;
    outline: none;
    background-color: transparent; // Remove the gray background color from active links in IE 10.

    &:visited {
        color: $link-color;
    }

    &:focus,
    &:active,
    &:hover {
        outline: none;
        color: $link-hover-color;
        text-decoration: underline;
    }
}

/*----------------*/

h1, .header-1 {
    font-size: $header-1--font-size;
    line-height: $header-1--line-height;
    font-weight: 600;
    margin: 0 0 $base-header--margin 0;
}

.header-1-wrap {
    margin-top: -(($header-1--line-height - $header-1--font-size)/2);
}

.var-dump--h1-font-size:before {content: "#{$header-1--font-size}";}
.var-dump--h1-line-height:before {content: "#{$header-1--line-height}";}

// --------------
h2, .header-2 {
    font-size: $header-2--font-size;
    line-height: $header-2--line-height;
    font-weight: 600;
    margin: 0 0 $base-header--margin 0;
}
.var-dump--h2-font-size:before {content: "#{$header-2--font-size}";}
.var-dump--h2-line-height:before {content: "#{$header-2--line-height}";}

// --------------
h3, .header-3 {
    font-size: $header-3--font-size;
    line-height: $header-3--line-height;
    font-weight: 600;
    margin: 0 0 $base-header--margin 0;
}
.var-dump--h3-font-size:before {content: "#{$header-3--font-size}";}
.var-dump--h3-line-height:before {content: "#{$header-3--line-height}";}

// --------------
h4, .header-4 {
    font-size: $header-4--font-size;
    line-height: $header-4--line-height;
    font-weight: 600;
    margin: 0 0 $base-header--margin 0;
}

.var-dump--h4-font-size:before {content: "#{$header-4--font-size}";}
.var-dump--h4-line-height:before {content: "#{$header-4--line-height}";}

//@each $__header-key, $__header-val in $header-fonts-list {
//    h#{$__header-key}, .header-#{$__header-key} {
//        @each $__css-key, $__css-val in $__header-val {
//            @if $__css-key == size {
//                font-size: $__css-val;
//                line-height: roundStep($__css-val * $base-header--line-height);
//            } @else if $__css-key == weight {
//                font-weight: $__css-val;
//            }
//        }
//        margin: 0 0 $base-header--margin 0;
//    }
//
//    .var-dump--h#{$__header-key}-font-size:before { content: '#{$font-size-s}'; }
//}

/*----------------*/
.ext-last-margin {
    margin-bottom: 0;
}

p {
    line-height: ($base-paragraph--line-height * 1em);
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: $base-paragraph--margin;
}

p.last {
    @extend .ext-last-margin;
}

//.text-s, .text-s p {
//    font-size: $font-size-s;
//    line-height: $line-height-s;
//    margin-bottom: $font-size-s;
//}
//
//.text, .text-m, .text p, .text-m p {
//    font-size: $font-size-m;
//    line-height: $line-height-m;
//    margin-bottom: $font-size-m;
//}
//
//.text-l, .text-l p {
//    font-size: $font-size-l;
//    line-height: $line-height-l;
//    margin-bottom: $font-size-l;
//}
//
//.text-xl {
//    font-size: $font-size-xl;
//    line-height: $line-height-xl;
//}
//
//.text-xl p {
//    @extend .text-xl;
//    margin-bottom: $font-size-xl;
//    &.last {@extend .last-paragraph-margin;}
//}

//ul, ol {
//    @extend p;
//}

ul {
    li {
        font-size: inherit;
    }
}

ul.hide-bullets {
    li:before {
        display: none;
    }
}

ul.mtr-list--bullets {
    list-style-type: none;
    margin-left: $base-list--left-margin;

    li {
        position: relative;
        line-height: inherit;
    }

    li:before {
        display: block;
        position: absolute;
        top: 0;
        left: -1 * $base-list--left-margin;
        content: '\2022';
        // todo: можно здесь сделать просто круглый div, а то символ буллита не во всех шрифтах круглый
    }
}

.text-s {
    font-size: $text-s--size;
    line-height: $text-s--line-height;

    p, ul, ol {
        @extend .text-s;
    }

    p.last, ul.last, ol.last {
        @extend .ext-last-margin;
    }
}

.text-m {
    font-size: $text-m--size;
    line-height: $text-m--line-height;

    p, ul, ol {
        @extend .text-m;
    }

    p.last, ul.last, ol.last {
        @extend .ext-last-margin;
    }
}

.text-l {
    font-size: $text-l--size;
    line-height: $text-l--line-height;

    p, ul, ol {
        @extend .text-l;
    }

    p.last, ul.last, ol.last {
        @extend .ext-last-margin;
    }
}

//@each $font-key, $font-val in $fonts-list {
//    .text-#{$font-key} {
//        font-size: $font-val;
//        line-height: roundStep($font-val * $base-paragraph--line-height);
//
//        p, ul, ol {
//            @extend .text-#{$font-key};
//        }
//
//        p.last, ul.last, ol.last {
//            @extend .ext-last-margin;
//        }
//    }
//}

.text-grid {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='4'><rect x='0' y='3' width='1' height='1' fill='rgba(0,0,0,.1)'/></svg>") repeat rgba(255,0,255,.1);
}