@function roundEven($num) {
    @return round($num / 2) * 2;
}

@function roundStep($num) {
    @return round($num / $step) * $step;
}

@function positiveOrZero($val) {
    @if $val >= 0 {
        @return $val;
    } @else {
        @return 0;
    }
}

@mixin word-wrap() {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    hyphens: auto;
}

@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin angleUp($sides, $main, $color) {
    width: 0;
    height: 0;
    border-left: $sides solid transparent;
    border-right: $sides solid transparent;
    border-top: 0;
    border-bottom: $main solid $color;
}

@mixin angleDown($sides, $main, $color) {
    width: 0;
    height: 0;
    border-left: $sides solid transparent;
    border-right: $sides solid transparent;
    border-top: $main solid $color;
    border-bottom: 0;
}