$button-height: roundEven($base-font-size * 2.5);
$button-sides-padding: roundEven($base-font-size * 1.4);
$button-radius: $step;

.button {
    cursor: pointer;
    text-align: center;
    font-size: $base-font-size;
    height: $button-height;
    padding: 0 $button-sides-padding;
    border-radius: $button-radius;
    background: #f0f;
    display: inline-block;
    line-height: $button-height;
    text-decoration: none;
    outline: none;
    box-shadow: none;

    &:active {
        line-height: $button-height + 2;
    }

    &:focus {
        outline: none;
    }
}

.button-primary {
    background: #5181b8;
    color: #fff;

    &:hover {
        background: #5b88bd;
    }

    &:active {
        background: #4872a3;
    }
}

.button-secondary {
    background: #e5ebf1;
    color: #55677d;

    &:hover {
        background: #dfe6ed;
    }

    &:active {
        background: #dae2ea;
    }
}