@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    /*https://css-tricks.com/google-fonts-and-font-display/*/
    /*https://css-tricks.com/almanac/properties/f/font-display/*/
    font-display: swap;
}